<form action="search" method="GET">
  <div class="field">
    Search: <input type="text" id="search_field" name="search_term"/>
    <input type="submit" value="Search" id="search_button"/>
  </div>
</form>
